window {
    background-color: #282828;
    border: 2px solid #d79921;
}

#input {
    margin: 5px;
    border: none;
    color: #ebdbb2;
    background-color: #3c3836;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #282828;
}

#text {
    margin: 5px;
    color: #ebdbb2;
}

#entry:selected {
    background-color: #d79921;
    color: #282828;
}

